html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
}

.botonclick {
    background-color: #111316;
    color: white;
    font-size: 1.3rem;
    margin-right: 30px;
    padding: 20px;
}